@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}

.mainSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.mainSection .leftSection,
.mainSection .rightSection {
    background-color: #F2E9D5;
    border-radius: 7px;
    height: 600px;
    overflow-y: auto;
    padding: 20px;
}

.mainSection .leftSection {
    max-width: 200px;
}

.mainSection .middleSection {
    max-width: 600px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    height: 600px;
    background-color: #F2E9D5;
    border-radius: 7px;
}

.mainSection .rightSection {
    max-width: 250px;
}

.rightSection .chatList {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.footer {
    background-color: #F2E9D5;
    padding: 30px 20px;
    color: #8C6239;
    text-align: center;
}

.footer .row {
    display: flex;
    justify-content: space-around;
}

.footer a {
    color: #8C6239;
    text-decoration: none;
}

.footer a:hover {
    color: #0d0c0c;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer h5 {
    color: #8C6239;
    font-weight: bold;
}
