@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.rules-section {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  color: #8C6239;
  justify-content: center;
  align-items: center;
}

.rules-section h1 {
  color: #8C6239;
  font-size: 56px;
  margin-bottom: 20px;
  font-weight: 700;
  padding-bottom: 60px;
}

.mainSection {
  margin-top: 150px;
  font-family: poppins;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  color: #8C6239;
  text-align: center;
  padding: 40px 30px 40px 30px;
  background-color: #F2E9D5;
  font-size: 24px;
  border-radius: 20px;
}

.container_2 {
  width: 70%;
  color: #8C6239;
  text-align: left;
  padding: 40px 30px 40px 30px;
  background-color: #F2E9D5;
  font-size: 24px;
  border-radius: 20px;
}

.container_2 ul li {
  padding: 2px 0px;
}

.contest-notice {
  color: #8C6239;
  font-size: 56px;
  margin-bottom: 20px;
  font-weight: 700;
  padding-bottom: 60px;
}

.link {
  padding-top: 10px;
  color: #CE8B49;
  font-weight: 300;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.theme {
  font-size: 24px;
  font-weight: bold;
  color: #8C6239;
}